### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml

# Node.js and related auxiliaries
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.parcel-cache/
.vite/
dist/
build/
out/
coverage/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDEs and Editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

